---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Threedles - About">
  <h1>Welcome to Threedles! Meet the Owner</h1>
  <main>
    <div>
      <img src="../images/kurdy.jpg" alt="Kurdy" />
    </div>
    <div id="showcase">
      <h3>Your Company Name Here</h3>
      <p>
        - Here is where you place the text about your company to hook the reader
        into reading more. This is just sample text where anything you imagine
        can go!
      </p>
    </div>
  </main>
  <h2>The Beginning</h2>
  <p class="text">
    Placeholder text Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Molestiae alias voluptate eveniet maiores exercitationem quam, doloribus
    quidem omnis ut tenetur odio illum vero natus vitae doloremque dignissimos
    error nostrum laudantium. Quam, rerum! Totam voluptatem vitae, ducimus
    aliquid, eaque quisquam voluptate ab praesentium maxime animi doloribus
    dolore provident corporis nesciunt ut aut neque quaerat beatae ullam
    perferendis placeat! Cupiditate, iure soluta!
  </p>
  <br />
  <br />
  <p class="text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium quos
    tempore sit beatae pariatur enim, iusto at facilis illo labore quisquam quam
    quo repudiandae. Laudantium corporis alias minima optio aliquid! Nulla illo
    incidunt laboriosam provident, iure dolores quisquam voluptatem autem iusto
    dicta repudiandae porro corrupti? Magnam inventore facere maiores eos error
    autem repellendus eius dolor, commodi, fugiat nostrum numquam tempore!
  </p>
  <h2>How We Work</h2>
  <p class="text">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto
    similique harum eaque possimus, cumque sit incidunt blanditiis repudiandae
    ducimus in voluptatum recusandae ullam odit, excepturi autem reiciendis
    impedit eius provident. Lorem ipsum dolor sit, amet consectetur adipisicing
    elit. Reprehenderit fugit accusantium nesciunt fuga optio? Beatae aliquid
    doloribus deserunt molestias sunt optio, sit itaque incidunt fugiat placeat
    enim dolore dolorem quisquam?
  </p>
  <h2>Our Most Cherished Design</h2>
  <img
    id="design"
    src="/images/designs/CatsEyes_CleopatrasEyes.png"
    alt="Cat's Eyes Cleopatra Design"
  />
  <p class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque saepe quidem
    excepturi omnis officia veritatis magni, facere, minus consequatur ullam
    deleniti velit earum alias nisi ab quos iste rerum. Distinctio. Nesciunt
    minus molestiae at! Sed cum distinctio vitae fugiat fugit eum in explicabo
    placeat. Voluptatem amet officia, molestias iure voluptatum, laudantium
    ullam eum nisi ab ratione eius perferendis rerum delectus. Perferendis,
    pariatur! Doloribus blanditiis vitae nesciunt enim ullam! Itaque nemo
    consectetur aperiam sunt dolor alias fugit consequuntur, vitae laudantium
    vero praesentium eveniet debitis, minus earum tempore molestias veniam
    asperiores optio.
  </p>
  <h2>Threedles Mission</h2>
  <p class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A, similique quos
    sit dolor at soluta aliquid, harum magnam illum voluptatum doloremque eum
    quo eos odio laborum animi iusto molestias sint?
  </p>
</Layout>

<style>
  h1 {
    text-align: center;
    font-family: "Italianno", cursive;
    font-size: 4rem;
    color: #420039;
    margin: 1rem 0;
  }
  h2 {
    text-align: center;
    font-family: "Italianno", cursive;
    font-size: 3rem;
    color: #420039;
    margin: 1rem 0;
  }
  main {
    display: flex;
    background-color: #dcccff;
    width: 60rem;
    margin: 0 auto;
    border-radius: 1rem;
    text-align: center;
  }
  #showcase {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  img {
    border-radius: 1rem;
    width: 55rem;
  }
  h3 {
    margin: 1rem 0;
    color: #420039;
    font-size: 1.75rem;
    font-weight: 600;
  }
  #showcase p {
    color: #420039;
    font-size: 1.3rem;
    text-wrap: balance;
    line-height: 2.5rem;
    margin: 0 1rem;
    text-align: center;
  }
  .text {
    color: #6e6e6e;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 2.5rem;
    text-align: center;
    text-wrap: balance;
    width: 80%;
    margin: 0 auto;
  }
  .text:last-of-type {
    padding-bottom: 2rem;
  }
  #design {
    width: 18rem;
    margin: 0 auto;
  }
  @media (max-width: 60rem) {
    h1 {
      font-size: 3rem;
      text-wrap: balance;
    }
    main {
      flex-direction: column;
      width: 85%;
      padding: 2rem 0;
    }
    img {
      /* margin: 3rem; */
      margin: auto;
      width: 20rem;
    }
  }
  @media (max-width: 475px) {
    main {
      padding-top: 0;
    }
    img {
      width: 100%;
    }
  }
</style>
