---
const { design, img, price, path, banner } = Astro.props;
---

<div id="product-container" class="home-io">
  <div id="img-container">
    <a href="/product">
      <img src={img} alt={design + "Design"} />
    </a>
  </div>
  <p>Example | <span id="price">${price}</span></p>
  <span id="banner">{banner}</span>
  <a href="/product">
    <button>Buy Now</button>
  </a>
</div>

<style>
  #product-container {
    text-align: center;
    /* border: 1px solid red; */
    padding-bottom: 1rem;
    position: relative;
    margin: 0 0.5rem;
  }
  #img-container {
    border-top: 2px solid #420039;
    /* border-bottom: 2px solid #420039; */
  }
  img {
    width: 15rem;
    aspect-ratio: 1;
    object-fit: contain;
    margin-top: 2rem;
    /* margin-bottom: 2rem; */
  }
  p {
    color: #420039;
    font-size: 1.1rem;
    margin: 1rem 0;
  }
  #price {
    font-weight: 800;
  }
  #banner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #420039;
    color: white;
    padding: 0.25rem 0.75rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  button {
    border: 2px solid #932f6d;
    border-radius: 0.5rem;
    background-color: #932f6d;
    color: white;
    letter-spacing: 1px;
    padding: 0.25rem 1rem;
    transition: 200ms ease-in-out;
  }
  button:hover {
    background-color: white;
    color: #932f6d;
    transform: translateY(-2px);
  }
  .home-io {
    opacity: 0;
    transition: 600ms ease-in-out;
  }
  .show {
    opacity: 1;
  }
</style>

<script>
  const products = document.querySelectorAll(".home-io");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        entry.target.classList.toggle("show", entry.isIntersecting);
      });
    },
    {
      threshold: 0.5,
    }
  );

  products.forEach((p) => observer.observe(p));
</script>
