<main>
    <h1>Threedles</h1>
    <h2>Needle Art, Charts, Crystal Packs, and More!</h2>
</main>

<style>
    main {
        background-image: url("/images/showcase.jpg");
        background-size: cover;
        font-family: "Italianno", cursive;
        text-align: center;
        width: 90%;
        height: 37rem;
        margin: 0 auto;
    }
    h1 {
        color: white;
        font-size: 11rem;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
    h2 {
        background-color: #f6f2ff;
        color: #420039;
        font-size: 3rem;
        padding-top: 0.5rem;
        text-wrap: balance;
    }
    @media (max-width: 900px) {
        main {
            width: 100%;
        }
        h1 {
            font-size: 8rem;
        }
        h2 {
            font-size: 2.5rem;
        }
    }
</style>