<section>
  <p>
    Built with <a href="https://astro.build/">Astro.</a> Depoloyed with <a
      href="https://www.netlify.com/">Netlify.</a
    > Designed by <a href="https://freelancingfinn.com/">Finn's Freelancing.</a>
  </p>
</section>

<style>
  section {
    text-align: center;
    /* padding: 1rem; */
    background-color: #f6f2ff;
  }
  p {
    color: #420039;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-wrap: balance;
    padding: 1rem;
    border-top: 1px solid #420039;
    width: 90%;
    margin: 0 auto;
  }
  a {
    color: #932f6d;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 0.5rem;
    transition: 200ms ease-in-out;
  }
  a:hover {
    background-color: #932f6d;
    color: white;
  }
</style>
